<div class="list" ng-controller='TaskDetailCtrl'>
	<div class="detail"><h3>EATT Healthy Food</h3></div>
  	<div class="title2"></div>
    <dl class="dl-horizontal">
      <dt>Category</dt>
      <dd>American</dd>
      <dt>Rating</dt>
      <dd><img src="https://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png"></dd>
      <dt>Phone</dt>
      <dd>7026085233<dd>
      <dt>Address</dt>
      <dd>7865 W Sahara Ave, Ste 104 & 105, Las Vegas, NV 89117</dd>
    </dl>
  <!--{{newobject.name}}-->
  <br>
  <br>
  <br>
  <h3>Topic Model of reviews</h3>
  <table class="table table-hover">
    <th class="success">Topic 1</th>
    <th class="warning">Topic 2</th>
    <th class="danger">Topic 3</th>
    <tr>
        <td>crab</td>
        <td>wait</td>
        <td>line</td>
    </tr>
    <tr>
        <td>station</td>
        <td>line</td>
        <td>step</td>
    </tr>
    <tr>
        <td>like</td>
        <td>buffet</td>
        <td>like</td>
    </tr>
    <tr>
        <td>best</td>
        <td>time</td>
        <td>vegas</td>
    </tr>
    <tr>
        <td>lamb</td>
        <td>good</td>
        <td>vegetarian</td>
    </tr>
  </table>
</div>
  <br>
  <br>
  <br>
<h3>Fake Review Detection</h3>
<table class="table table-hover">
    <tr>
    <td class="success">Fake Review 1:</td>

      </tr>
    <tr>
      <td class="warning">Fake Review 2:</td>

    </tr>
    <tr>
      <td class="danger">Fake Review 3:</td>
    </tr>
    <tr>
      <td class="info">Fake Review 4:</td>
    </tr>
</table>
