<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Selected Hotels</h4>
				<p class="category">in popular cities</p>
				<button class="btn btn-success"
					style="margin-right: 5px; display: inline-block"
					ng-click="search(city)"
					ng-repeat="city in cities">{{city}}</button>

			</div>
			<div class="content">
				<table datatable="ng" class="table row-border hover" ng-if="businesses.length > 0">
					<thead><tr>
						<td>Name</td>
						<td>Rating</td>
						<td></td>
					</tr></thead><tbody>
					<tr ng-repeat="i in businesses">
						<td>{{i.hotelName}} 
						<p class="category">{{i.hotelRanking}}</p>
						<p class="category text-success">{{i.numberOfReviews}}</p>
						</td>
						<td>
											<i class="fa text-success" ng-class="{'fa-star' : i.numBubbles >= 1, 'fa-star-o' : i.numBubbles == 0, 'fa-star-half-o' : i.numBubbles > 0 && i.numBubbles < 1}"></i> 
											<i class="fa text-success" ng-class="{'fa-star' : i.numBubbles >= 2, 'fa-star-o' : i.numBubbles <= 1, 'fa-star-half-o' : i.numBubbles > 1 && i.numBubbles < 2}"></i> 
											<i class="fa text-success" ng-class="{'fa-star' : i.numBubbles >= 3, 'fa-star-o' : i.numBubbles <= 2, 'fa-star-half-o' : i.numBubbles > 2 && i.numBubbles < 3}"></i> 
											<i class="fa text-success" ng-class="{'fa-star' : i.numBubbles >= 4, 'fa-star-o' : i.numBubbles <= 3, 'fa-star-half-o' : i.numBubbles > 3 && i.numBubbles < 4}"></i> 
											<i class="fa text-success" ng-class="{'fa-star' : i.numBubbles >= 5, 'fa-star-o' : i.numBubbles <= 4, 'fa-star-half-o' : i.numBubbles > 4 && i.numBubbles < 5}"></i> 
							<p class="category">{{i.bubbles}}</p>
							</td>
						<td><a class="btn btn-simple"
							href="#/app/detail/{{i.cityID}}/{{i.hotelID}}"><i
								class="fa fa-tripadvisor text-success"></i></a></td>
					</tr>
					</tbody>
				</table>


			</div>
		</div>
	</div>


</div>